// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_overrides";

#date {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  span {
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
  }
  .button {
    margin: 0;
  }
}

table#calendar {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  th {
    text-align: center;
    #background-color: lighten(#FF0, 35%);
    background-color: $info-color;
  }
  th, td {
    padding: 10px;
    border: 2px solid #aaa;
    &:hover {
      background-color: #eee;
    }
  }
  tbody > tr {
    height: 150px;
    td {
      padding: 0px;
      div.date {
        background-color: #ccc;
        border-bottom: 2px solid #aaa;
      }
      ul.tasks {
        #display:table;
        width:100%;
        background-color: lighten($success-color, 25%);
        li {
          border-top: 1px solid #888;
          word-wrap: break-word;
          overflow: auto;
          &:hover {
            background-color: lighten($success-color, 15%);
          }
          a {
            display: block;
            color: #222;
          }
          &:first-child {
            border:none;
          }
          &:last-child {
            border-bottom: 1px solid #888;
          }
        }
      }
      &.notmonth {
        opacity: .5;
      }
      &.today {
        background-color: lighten(#FF0, 35%);
        &:hover {
          background-color: lighten(#FF0, 25%);
        }
      }
    }
  }
}